@import '../abstract/variaveis';

.compra {
    display: flex;
    padding: 40px;
    gap: 30px;
    .img-container {
        height: 100%;
        border-bottom: 6px solid $cor-primaria;
        img {
            width: 100%;
        }
    }
    .text-container {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        h3 {
            font-size: $tamanho-do-texto/1.5;
            font-weight: 300;
            color: $cor-primaria;
        }
        h4 {
            font-size: $tamanho-do-texto/2.5;
            color: $cor-primaria;
            font-weight: 300;
            margin-bottom: 20px;
        }
        p {
            font-size: $tamanho-do-texto/3;
            color: $cor-primaria;
        }
    }
}